*{
    padding: 0;
    margin: 0;
    vertical-align: auto;
}
/* How can I add the wiggle??? */
/* 
} 
@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    .0% {
        transform: rotateZ(6deg);
    }
    .5% {
        transform: rotateZ(-4deg);
    }
    40%, 100$ {
        transform: rotateZ(0);
    }
     */